<%= simple_form_for(@event) do |f| %>
        <%= f.error_notification %>
  <section class="row">
    <div class="medium-6 large-4 columns panel">
    <%# Event Form Elements %>
        <div class="form-inputs">
            <%= f.input :event_name, label:'Event Name',error: 'Event name is mandatory, please specify one' %>
            <%= f.input :event_type %>
            <%= f.input :age_limit %>
            <%= f.label :start_date %>
           <%= date_select("event","start_date",:order => [:year, :month, :day],:start_year => 2016,
                        :prompt => {:year => 'Select year',
                                    :month => 'Select month',
                                    :day => 'Select day',
                                    :hour => 'Select hour',
                                    :minute => 'Select Minute'}) %>
           <%= f.label :end_date %>
           <%= date_select("event","end_date",
                           :prompt => {:year => 'Select year',
                                       :month => 'Select month',
                                       :day => 'Select day'
                                       }) %>
        </div>
    </div>
      <div class="medium-6 large-4 columns">
      <%# Organizer Form Elements %>
             <div class="form-inputs panel radius">
                <%= f.label "Organizers" %><br />
                <%= f.collection_check_boxes :organizer_ids, Organizer.all, :id, :name do |b| %>
                <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                </div>
                <% end %>
              </div>
      </div>
          <div class="medium-6 large-4 columns">
            <%# Genre Form Elements %>
            <div class="form-inputs panel radius">
              <%= f.label "Genre" %><br />
              <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
                <div class="collection-check-box">
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>
    </section>
    <%# Submit %>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>

    <% end %>
