<%= simple_form_for(@event) do |f| %>        
<%# f.error_notification %>
<% if @event.errors.any? %>
<fieldset>
  <legend>
<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from creation</h2></legend>
    <ul>
      <% @event.errors.full_messages.each do |msg|  %>
        <li><%= msg %></li>
      <% end %>
    </ul>
 </fieldset>   
  <% end %>
  <section class="row">
      <%# Event Form Elements %>
      <fieldset>
        <legend>Choose Name, Type, Age Limit</legend>
        <%# div class="form-inputs" %>
          <div class="small-4 columns"> 
          <%= f.input :event_name, error: 'Event name is mandatory' %>
          <small><%= f.hint 'Artist @ Venue' %></small>
          </div>
          <div class="small-4 columns"> 
          <%= f.label "Type" %>
          <%= f.select :event_type,
          ["Nightclub","Festival", "Special Event"]%>
          </div>
          <div class="small-4 columns">
          <%= f.label "Age Limit" %> 
          <%= f.select :age_limit,
          ["21+","18+","16+","All Ages"]%>
          </div>

          </fieldset>

      <fieldset>
        <legend>Choose Venue, Date & Time</legend>
        <%# Venue Form Elements %>
            <div class="small-4 columns panel radius">
              <%= f.label "Choose Your Venue or Add One"%><br />
              <%= f.collection_select :venue_id, Venue.all, :id, :name, prompt: true %>
              <%= link_to 'Add Venue', new_venue_path %>
            </div>
        <div class="small-4 columns">
          <%= f.label :start_date %>
          <%= f.text_field :start_date %>
          <%= f.input :start_time %>
        </div>
        <div class="small-4 columns">
          <%= f.label :end_date %>
          <%= f.text_field :end_date %>
          <%= f.input :end_time %>
        </div>
      </fieldset>

      <%# Band form Elements %>
      <fieldset>
        <legend>Choose Artists</legend>
        <%= f.collection_check_boxes :band_ids, Band.all, :id, :name do |b| %>
          <div class=" small-4 columns collection-check-box"> 
            <%= b.check_box %>
            <%= b.label %>
          </div> 
        <% end %>
      </fieldset>
    

      <fieldset>
        <legend>Genre</legend>      
        <%# Genre Form Elements %>
        <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
          <div class=" small-4 columns collection-check-box">
                  <%= b.check_box %>
                  <%= b.label %>
          </div>
        <% end %>
      </fieldset>     
      <fieldset>    
      <%# Organizer Form Elements %>
        <legend>Choose Organizers</legend>
        <%= f.collection_check_boxes :organizer_ids, Organizer.all, :id, :name do |b| %>
          <div class="collection-check-box">
              <%= b.check_box %>
              <%= b.label %>
          </div>
        <% end %>
      </fieldset>       

    </section>
        <div class="form-actions">
          <%= f.button :submit, class:"radius"%>
        </div>

    <% end %>
