<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @band.bio %>
</p>

<p>
  <strong>Act:</strong>
  <%= @band.act %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @band.hometown %>
</p>

<p>
  <strong>Country:</strong>
  <%= @band.country %>
</p>

<p>
  <strong>Active since:</strong>
  <%= @band.active_since %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
